body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
/*----------------------------*/

header {
    background-color: #333;
    color: white;
    padding: 10px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.logo {
    margin-left: 20px; /* Adjust spacing */
}
.logo a {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease; /* Add transition for smoother effect */
}
.logo a:hover {
    transform: scale(1.1); /* Scale effect on hover */
}

.logo h1 {
    font-size: 24px; /* Adjust font size */
    margin: 0;
}
.logo:hover h1{
    font-size: 28px; /* Increase font size on hover */
}
/*----------------------------*/


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;

}

nav ul li a:hover {
    text-decoration: none;
        color: rgba(102, 152, 189, 0.94); /* Change color on hover */

}


@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Show toggle on smaller screens */
    }

    .menu {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
        z-index: 999;
    }

    .menu.active {
        display: block;
    }

    .menu li {
        display: block;
        margin-bottom: 10px;
    }

    .menu li a {
        display: block;
        padding: 10px 0;
    }
}
/*----------------------------*/
section {
    padding: 20px;
    margin: 0px 0;
    background-color: #1b1b1b;
}
/*----------------------------*/
#intro {
    background-image: url('../images/introbg.jpg');
    background-size: cover; /* Ensure the background image covers the section */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    padding: 150px 40px; /* Adjust padding for better appearance on small screens */
    color: white;
    text-align: center;
}

.intro-name h1 {
    font-size: 40px; /* Adjust font size for smaller screens */
    font-weight: bold;
    padding: 5px 10px;
}

.intro-name p {
    font-size: 18px; /* Adjust font size for smaller screens */
    padding: 0px 10px;
    margin: 0;
}

@media (max-width: 768px) {
    #intro {
        padding: 100px 10px; /* Reduce padding on smaller screens */
    }

    .intro-name h1 {
        font-size: 32px; /* Adjust heading font size for smaller screens */
    }

    .intro-name p {
        font-size: 16px; /* Adjust paragraph font size for smaller screens */
    }
}

/*----------------------------*/
#about, #projects, #contact ,#skills{
    background-color:#1E1E1Eff;
    padding: 40px 0px;
    color: white;
}
#about, #skills {
    padding: 70px;
}

#about h2, #skills h2 {
    text-align: center;
    margin-bottom: 30px;
}





/*----------------------------*/





#about {
    padding: 50px 0;
    text-align: center;
    color: #000000;
        overflow: hidden; /* Ensure content doesn't overflow */

}

.about-cover {
    background-color: rgba(242, 242, 242, 0.8); /* Added transparency */
    padding: 30px 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth scaling */
     transform: translateX(100%); /* Initial position off-screen to the right */
    opacity: 0; /* Start with opacity 0 */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* Transition for movement and opacity */

}

#about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
}

#welcome {
    font-size: 20px;
    margin-bottom: 20px;
}

.about-text {
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
}

.about-text p {
    margin-bottom: 15px;
}
.about-cover:hover {
    transform: scale(1.05); /* Slightly scale up the cover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increase shadow for a more pronounced effect */
}
.in-view .about-cover {
    transform: translateX(0); /* Move to original position */
    opacity: 1; /* Set opacity to 1 */
}
/*----------------------------*/
#skills {
    padding: 70px;
}

#skills h2 {
    text-align: center;
    margin-bottom: 30px;
}

.skill-card {
    background-color: rgba(242, 242, 242, 0.8); /* Added transparency */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}

.skill-card h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #1b1b1b;
}

.skill-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.skill-icon {
    text-align: center;
    width: 25%;
    margin-bottom: 20px;
}

.skill-icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}
.skill-icon :hover {
    transform: scale(1.1); /* Enlarge image slightly on hover */
}
.skill-icon p {
    font-size: 16px;
    font-weight: bold;
    color: #1b1b1b;


}

/*----------------------------*/
#projects {
    padding: 70px;
}

#projects h2 {
    text-align: center;
    margin-bottom: 30px;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card {
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
}
@media (max-width: 1200px) {
    .project-card {
        width: 45%; /* Adjust width for medium screens */
    }
}

@media (max-width: 768px) {
    .project-card {
        width: 100%; /* Adjust width for smaller screens */
    }
}
.project-card:hover {
    transform: scale(1.05);
}

.project-card img {
    width: 100%;
    height: auto;
}

.project-info {
    padding: 20px;
    text-align: center;
}

.project-info h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #1b1b1b;
}

.project-info p {
    font-size: 16px;
    color: #1b1b1b;
}
.project-info ul {
    font-size: 16px;
    color: #1b1b1b;
}

.project-info a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1b1b1b;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.project-info a:hover {
    background-color: #333;
}

/*----------------------------*/

#contact {
    padding: 40px 20px; /* Reduced padding for smaller screens */
    background-color: #f2f2f2;
    text-align: center;
}

#contact h2 {
    font-size: 32px; /* Adjusted font size */
    margin-bottom: 20px; /* Reduced margin */
    color: #333;
}

.contact-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    justify-content: center; /* Center items horizontally */
    gap: 15px; /* Reduced space between contact info sections */
    margin: 0 auto; /* Center container */
}

.contact-info {
    font-size: 16px; /* Slightly smaller font size */
    color: #333;
    display: flex;
    align-items: center;
    flex: 1 1 200px; /* Adjusted minimum width */
    max-width: 300px; /* Limited maximum width */
    margin-bottom: 10px; /* Reduced space between contact info items */
    text-align: center; /* Center text for smaller screens */
}

.contact-info p {
    margin: 0;
    display: flex;
    align-items: center;
}

.contact-icon {
    width: 24px; /* Adjusted icon size */
    height: 24px;
    margin-right: 10px; /* Reduced space between icon and text */
}

.contact-info a {
    color: #1a73e8;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: #0056b3;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
